<!-- your html code here -->
<div class="container bg-light">
    <h1 class="mx-4">Contact</h1>
    <p class="mx-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quis obcaecati, quae eos beatae accusamus eius ea quasi eligendi voluptate aut dolores corporis fugiat dicta aliquid nemo nobis dolorum dolore!</p>
    <div class="row justify-content-center">
        <div class=" card col-7 m-1 p-3">
            <div class="d-flex m-2">
                <label for="exampleFormControlInput1" class="form-label mx-3">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="d-flex m-1">
                <label for="exampleFormControlTextarea1" class="form-label mx-2">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-end align-items-end ">
                <button type="submit" class="btn btn-primary mt-3 ">Submit</button>
            </div>

        </div>
    </div>
</div>