<!-- your html code here -->
<div class="container bg-light">
    <h1 class="mx-4">Porfolio</h1>
    <p class="mx-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vel dolorem ipsa repellat earum eum, perferendis quos nam ea? Laborum possimus neque odit illum ut quisquam incidunt officia ipsum quod!</p>
    <div class=" container d-flex justify-content-evenly grid gap-3 mx-1">
        <div class="p-2 g-col-4">
            <img src="/website/assets/img/big-project-image.png" class="rounded float-start" style="width: 350px; height: 200px;" alt="img1">
            <h2 class="text-primary">Project Name</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae fugiat eum nulla animi quod in necessitatibus praesentium minus debitis, voluptatem voluptatum sunt, vitae illum reiciendis non doloribus rerum repellendus natus!</p>
        </div>
        <div class="p-2 g-col-4">
            <img src="/website/assets/img/big-project-image.png" class="rounded float-start" style="width: 350px; height: 200px;" alt="img2">
            <h2 class="text-primary">Project Name</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae fugiat eum nulla animi quod in necessitatibus praesentium minus debitis, voluptatem voluptatum sunt, vitae illum reiciendis non doloribus rerum repellendus natus!</p>
        </div>
        <div class="p-2 g-col-4">
            <img src="/website/assets/img/big-project-image.png" class="rounded float-start" style="width: 350px; height: 200px;" alt="img3">
            <h2 class="text-primary">Project Name</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae fugiat eum nulla animi quod in necessitatibus praesentium minus debitis, voluptatem voluptatum sunt, vitae illum reiciendis non doloribus rerum repellendus natus!</p>
        </div>
    </div>
</div>